<header class="header">
  <nav class="nav">
    <a class="logo" href="/">
      <img class="logo__img" src="/assets/images/eventor-03.png" alt="logo" width="110" height="40"> 
    </a>
    <ul class="nav__list">
      <li class="nav__item nav__item--login nav__item--active ">
        <a class="nav__link" href="/login">
          <img class="nav__link-icon" src="/assets/images/sign-in.svg" alt="icon" width="24" height="24">Login </a>
      </li>
      <li class="nav__item nav__item--register">
        <a class="nav__link" href="/register">
          <img class="nav__link-icon" src="/assets/images/user-plus.svg" alt="icon" width="24" height="24"> Sign Up</a>
      </li>
      <li class="nav__item nav__item--add close">
        <a class="nav__link" href="/addpost">
          <img class="nav__link-icon" src="/assets/images/plus-square.svg" alt="icon" width="24" height="24">Add</a>
      </li>
      <li class="nav__item nav__item--profile close">
        <a class="nav__link" href="/account">
          <img class="nav__link-icon" src="/assets/images/user.svg" alt="icon" width="24" height="24">Profile</a>
      </li>
      <li class="nav__item nav__item--logout close">
        <a class="nav__link" href="/">
          <img class="nav__link-icon" src="/assets/images/out.svg" alt="icon" width="24" height="24">Logout</a>
      </li>
      
    </ul>
  </nav>
</header>